* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* @media screen and (max-width:px){
    .navbar{
        padding: 20px 20px 20px 0px;
    }
    
} */

body {
    background-color: black;
}

nav {
    display: flex;
    justify-content: center;
    z-index: 10;
    position: absolute;
    width: 100%;
    padding: 25px 0px 0px 0px;

}

.navbar {


    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 26px 64px 0px 64px;

}




.navbar button {
    background-color: red;
    padding: 0px 9px 0px 9px;
    border-radius: 6px;
    cursor: pointer;


}

main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(assets/Bg.jpg);
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;

    position: relative;
    background-position: center center;
    background-size: max(1200px, 100vw);

}

.herobox {
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 26px;
    text-align: center;



}

.herobox>:nth-child(1) {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 900;
    font-size: 50px;


}

.herobox>:nth-child(2) {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 900;
    font-size: 50px;

}

.herobox :nth-child(3) {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 500;
    font-size: 16px;



}

.herobox> :nth-child(4) {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 400;
    font-size: 12px;


}

.mainform input {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 19px 100px 16px 15px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    color: white;


}

.mainform button {
    padding: 13px 25px 13px 25px;
    border-radius: 6px;
    background-color: red;
    font-weight: 500;
    color: white;
    font-size: 24px;

}

.line {
    border: 2px solid rgb(235, 108, 108);
}

.trending-part {
    color: white;
    padding: 30px 150px;
}

.section1 {

   
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

overflow: scroll;
    height: 60vh;
    width: 100%;
}
.section1::-webkit-scrollbar{
    display: none;
}
.picpart {
    display: flex;
    gap: 20px;
    justify-content: center;
    
   
    

}

.picpart img {
    border-radius: 5px;
    
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    overflow-x: auto;
    
}
.picpart img:hover{
   transform: scale(1.1);
}
.faq-title{
    color: white;
    font-weight: 500;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-size: 24px;
   padding: 0px 0px 0px 130px;
    
   
}

    

.faq{
    
  display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
        padding: 40px 60px 0px 0px;
        margin: auto;
}



.faq p{
    color: white;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 400;
 font-size: 24px;
    padding: 30px;
    background-color: #2d2d2d;
    display: flex;
    justify-content: space-between;
    

}
footer{
     
   width: 80%;
   margin: auto;
   padding: 60px 0px;
   
}

.footer-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    
}
.footer-item a{
    color: white;
}
@media screen and (max-width: 50px){

   body{
    background-color: red;
   }
   .footer-item{
    grid-template-columns: 1fr 1fr;
   }
   
}
   @media screen and (max-width: 500px){
   .navbar{
 display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 25px 0px 25px;
    }
   
} 
@media screen and (max-width: 500px){
  .herobox{
  padding: 41px;
  }
   
}
@media screen and (min-width: 350px) {
    
    .faq{
        display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 40px 18px 0px 15px;
    margin: auto;
    }
    .faq-title {
    color: white;
    font-weight: 500;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-size: 24px;
    padding: 0px 0px 0px 11px;
    
}
.trending-part {
    color: white;
    padding: 20px 0px 0px 65px;
    position: absolute;
}
.footer-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
}


